apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-kobo
  namespace: {{ .Release.Namespace }}
data:
  kpi_uwsgi.ini: |
    {{ tpl .Values.kpi.uwsgi_conf . | nindent 5 }}
  kc_uwsgi.ini: |
    {{ tpl .Values.kobocat.uwsgi_conf . | nindent 5 }}
  # Dummy script to drop in place of various init scripts to disable...
  empty_script: |
    #!/bin/bash
    set -e
    echo Skipping $0
