apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "growthbook.fullname" . }}
  labels:
    {{- include "growthbook.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "growthbook.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "growthbook.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "growthbook.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        # Wait for MongoDB
        - name: wait-db
          image: alpine:3.18
          imagePullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - |
              apk add --no-cache netcat-openbsd
              until nc -z -w3 ${MONGODB_HOST} ${MONGODB_PORT}; do
                echo "waiting for mongodb..."
                sleep 2
              done
            env:
              {{- include "growthbook.mongo.env" . | nindent 12 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "apt-get update && apt-get install curl -y"]
          livenessProbe:
            exec:
              command:
              - bash
              - /usr/local/src/growthbook-helm/livenessprobe-exec.sh
            initialDelaySeconds: 30
            periodSeconds: 5
          env:
            {{ if .Values.growthbook.sso.enabled }}
            - name: LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "growthbook.fullname" . }}
                  key: LICENSE_KEY
            - name: SSO_CONFIG
              valueFrom:
                secretKeyRef:
                  name: {{ include "growthbook.fullname" . }}
                  key: SSO_CONFIG
            {{ end }}
            {{- range $key, $value := .Values.growthbook.extraEnvVars }}
            - name: {{ $key }}
              value: |-
                {{- tpl $value $ | nindent 16 }}
            {{- end }}
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "growthbook.fullname" . }}
                  key: JWT_SECRET
            - name: ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "growthbook.fullname" . }}
                  key: ENCRYPTION_KEY
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: {{ include "growthbook.fullname" . }}
                  key: MONGODB_URI
            - name: EMAIL_ENABLED
              value: {{ .Values.growthbook.email.enabled | quote }}
            {{ if .Values.growthbook.email.enabled }}
            - name: EMAIL_HOST
              value: {{ .Values.growthbook.email.host }}
            - name: EMAIL_PORT
              value: {{ .Values.growthbook.email.port | quote }}
            - name: EMAIL_HOST_USER
              value: {{ .Values.growthbook.email.hostUser }}
            - name: EMAIL_HOST_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "growthbook.fullname" . }}
                  key: EMAIL_HOST_PASSWORD
            - name: EMAIL_FROM
              value: {{ .Values.growthbook.email.senderEmail }}
            - name: SITE_MANAGER_EMAIL
              value: {{ .Values.growthbook.email.siteManagerEmail }}
            {{ end }}
            {{ if .Values.growthbook.datasource.google.enabled }}
            - name: GOOGLE_OAUTH_CLIENT_ID
              value: {{ .Values.growthbook.datasource.google.clientId }}
            - name: GOOGLE_OAUTH_CLIENT_SECRET
              value: {{ .Values.growthbook.datasource.google.clientSecret }}
            {{ end }}
          volumeMounts:
            - name: {{ include "growthbook.fullname" . }}-livenessprobe-exec
              mountPath: /usr/local/src/growthbook-helm
            - name: {{ include "growthbook.fullname" . }}
              mountPath: {{ .Values.volume.mountPath }}
          ports:
            - name: frontend-port
              containerPort: 3000
              protocol: TCP
            - name: backend-port
              containerPort: 3100
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      volumes:
        - name: {{ include "growthbook.fullname" . }}-livenessprobe-exec
          configMap:
            name: {{ include "growthbook.fullname" . }}-livenessprobe-exec
        - name: {{ include "growthbook.fullname" . }}
          {{ include "growthbook.pvc" . }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
