apiVersion: v1
kind: Secret
metadata:
  name: {{ include "growthbook.fullname" . }}
  labels:
    {{- include "growthbook.labels" . | nindent 4 }}
type: Opaque
data:
  MONGODB_URI: {{ include "growthbook.mongo.uri" . | b64enc | quote }}
  JWT_SECRET: {{ .Values.growthbook.jwtSecret | b64enc | quote }}
  ENCRYPTION_KEY: {{ .Values.growthbook.encryptionKey | b64enc | quote }}
  {{- if .Values.growthbook.email.enabled }}
  EMAIL_HOST_PASSWORD: {{ .Values.growthbook.email.hostPassword | b64enc | quote }}
  {{- end }}
  {{- if .Values.growthbook.sso.enabled }}
  LICENSE_KEY: {{ .Values.growthbook.sso.licenseKey | b64enc | quote }}
  {{- end }}
stringData:
  {{- if .Values.growthbook.sso.enabled }}
  SSO_CONFIG: {{ .Values.growthbook.sso.ssoConfig | toJson | quote }}
  {{- end }}
  {{- if .Values.growthbookProxy.enabled }}
  SECRET_API_KEY: {{ .Values.growthbookProxy.secret_api_key | b64enc | quote }}
  {{- end }}