apiVersion: v1
kind: Secret
metadata:
  name: kutt
  labels:
    {{- include "kutt.labels" . | nindent 4 }}
data:
    {{- range $key, $val := .Values.secretEnv }}
    {{ $key  }}: {{ $val | quote | b64enc }}
    {{- end }}
