{{- if and .Values.smtp.enabled (not (eq .Values.smtp.password "")) (not (eq .Values.smtp.username "")) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nocodb.smtp.secretName" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{ include "nocodb.smtp.secretUsernameKey" . }}: {{ .Values.smtp.username | b64enc | quote }}
  {{ include "nocodb.smtp.secretPasswordKey" . }}: {{ .Values.smtp.password | b64enc | quote }}
{{- end }}
